python/angela_bot/invite.txt
python/angela_bot/token.txt
venv
python/angela_bot/cogs/__pycache__
python/angela_bot/cogs/reddit.txt
sql/fin_tracker/fintrack.db
web_dev/tamagotchi/HomeScreen.png
web_dev/tamagotchi/HomeScreen2.png
web_dev/tamagotchi/Untitled389_20240809214337.png
web_dev/tamagotchi/icons/bed.png
web_dev/tamagotchi/icons/candy.png
web_dev/tamagotchi/icons/heart.png
